$axis-y-width: 40px;
$axis-x-height: 30px;
$line-offset: 6px;
$line-border-color: $border-color-base;

.root {
    width: 100%;
    height: 300px;
    position: relative;

    .grid {
        position: absolute;
        bottom: $axis-x-height;
        top: $axis-x-height;
        left: $axis-y-width;
        right: $axis-y-width;
    }

    .line-x {
        position: absolute;
        left: -$line-offset;
        right: -1px;
        border-top: 1px solid $line-border-color;
    }

    .line-y {
        position: absolute;
        top: -1px;
        bottom: -$line-offset;
        border-left: 1px solid $line-border-color;
    }
}
