.root {
    display: inline-block;
    position: relative;
    max-width: 100%; /* 防止表格等小的地方超出区域 */
    width: $width-base;
    height: $height-base;
    padding: 0 8px;
    line-height: calc($height-base - $border-width-base * 2);
    background: white;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    cursor: text;
}

.input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: inherit;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    border-radius: inherit;
    line-height: inherit;
    text-align: inherit;
    cursor: inherit;
}

.baseline {
    visibility: hidden;
}

.placeholder, .input::placeholder {
    font-size: inherit;
    color: #a7afbb;
}

.placeholder { /* for IE9 */
    display: none;
    display: block\9; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    position: absolute;
    left: 0;
    top: 0;
    padding: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clearable::before {
    display: block;
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    line-height: 1;
    height: 1em;
    margin: auto;
    icon-font: url('../i-icon.vue/assets/close-solid.svg');
    cursor: $cursor-pointer;
    color: #a7afbb;
}

.input:focus {
    outline: $focus-outline;
}

.root[focus] {
    border-color: $brand-primary;
}

.root[color="default"] { /* As default */ }

.root[color="error"] {
    border-color: $brand-error;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    background: $brand-disabled-light;
}

.root[size="normal"] { /* As default */ }

.root[display="inline"] { /* As default */ }

.root[display="block"] {
    display: block;
    width: auto;
}
