.root {
    user-select: none;
    cursor: $cursor-pointer;
}

.box {
    margin-right: 4px;
    margin-bottom: 2px;
    vertical-align: middle;
    cursor: $cursor-pointer;
}

.box[disabled] {
    cursor: $cursor-not-allowed;
}

.root:focus {
    outline: $focus-outline;
}

.root[disabled] {
    color: #999;
    cursor: $cursor-not-allowed;
}
