.root {
    position: relative;
    user-select: none;
    cursor: $cursor-pointer;
}

.root::before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 16px;
    left: 0;
    top: 0;
}

.box {
    margin-right: 4px;
    margin-bottom: 2px;
    vertical-align: middle;
    cursor: inherit;
}

.root:focus {
    outline: $focus-outline;
}

.root[disabled] {
    color: #999;
    cursor: $cursor-not-allowed;
}
