.root {}

.head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $navbar-height;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.side {
    position: fixed;
    left: 0;
    bottom: 0;
    top: $navbar-height;
    width: $sidebar-width;
}

.main {
    position: fixed;
    bottom: 0;
    right: 0;
    top: $navbar-height;
    left: $sidebar-width;
    overflow: auto;
}

.content {
    min-width: 1110px;
    padding: 40px;
}

.root[demo] .head, .root[demo] .side, .root[demo] .main {
    position: absolute;
}
