.root {
    /* Correct inability to style clickable `input` types in iOS. */
    -webkit-appearance: none;
    /* Remove margins in Chrome, Safari and Opera. */
    margin: 0;
    /* Remove borders for `button`. */
    border: none;
    /* Address `overflow` set to `hidden` in IE+. */
    overflow: visible;
    /* Correct `font` properties not being inherited for `button`. */
    font: inherit;
    /* Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE. */
    text-transform: none;
    /* Required for `a`. */
    text-decoration: none;
    /* Use pointer cursor at any time. */
    cursor:  var(--cursor-pointer);
    /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 */
    background: none;
    /* Others */
    display: inline-block;
    text-align: center;
    padding: 0 12px;
    height:  var(--height-base);
    line-height: calc( var(--height-base) -  var(--border-width-base) * 2);
    /* stylelint-disable declaration-block-no-duplicate-properties */
    background: white;
    color:  var(--color-base);
    border:  var(--border-width-base) solid  var(--border-color-base);
}

.root:hover {
    /* Required for `a` elements */
    text-decoration: none;
    color:  var(--brand-primary);
    border-color:  var(--brand-primary);
}

.root:focus {
    /* Remove default focus style */
    outline:  var(--focus-outline);
    /* Required for `a` elements */
    text-decoration: none;
}

.root:active {
    background:  var(--background-color-base);
}

.root[disabled] {
    cursor:  var(--cursor-not-allowed);
    background: white;
    border-color:  var(--border-color-base);
    color:  var(--brand-disabled);
}

.root[size="normal"] { /* As default */ }

.root[color="default"] { /* As default */ }

.root[display="inline"] { /* As default */ }

.root[display="block"] {
    display: block;
    width: auto;
}
