.root {
    /* @Private */
    display: inline-block;
    cursor: var(--cursor-pointer);

    /* @Public */
    padding: var(--complex-item-padding);
}

.root:hover {
    background: var(--complex-background-hover);
}

.root[readonly] {
    cursor: default;
    background: var(--complex-background-readonly);
}

.root[focused] {
    background: var(--complex-background-focused);
}

.root[selected] {
    background: var(--complex-background-selected);
    color: var(--complex-color-selected);
}

.root[disabled] {
    /* @Private */
    cursor: var(--cursor-not-allowed);
    background: var(--complex-background-disabled);
    color: var(--complex-color-disabled);
}

.root[selected][disabled] {
    background: var(--complex-background-selected-disabled);
}
