.root {
    width: 100%;
    height: 300px;
    position: relative;
}

.grid {
    --axis-y-width: 40px;
    --axis-y-width: 40px;
    --axis-x-height: 30px;
    --axis-x-height: 30px;
    position: absolute;
    bottom:  var(--axis-x-height);
    top:  var(--axis-x-height);
    left:  var(--axis-y-width);
    right:  var(--axis-y-width);
}

.line-x {
    position: absolute;
    left: - var(--line-offset);
    right: -1px;
    border-top: 1px solid  var(--line-border-color);
}

.line-y {
    position: absolute;
    top: -1px;
    bottom: - var(--line-offset);
    border-left: 1px solid  var(--line-border-color);
}
