.root[class] {
    z-index: $z-index-base;
    padding: 0 12px;
    padding-right: 26px;
    cursor: $cursor-pointer;
}

.root::after {
    position: absolute;
    icon-font: url('../i-icon.vue/assets/arrow-down.svg');
    font-size: 14px;
    right: 10px;
    top: 0;
    line-height: calc($height-base - 2px);
}

.root[readonly] {
    cursor: default;
}

.root[disabled] {
    cursor: not-allowed;
    background: $brand-disabled-light;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 12px;
    padding-right: 26px;
    width: 100%;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popper {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    line-height: 1.6;
    max-height: 180px;
    overflow: auto;
    background: white;
    border: 1px solid $border-color-base;
    z-index: $z-index-popper;
}

.status {
    color: $gray-dark;
    text-align: center;
}

.root[size="small"] {
    width: 120px;
    height: 30px;
    line-height: 28px;
}

.root[size="small"] .text {
    line-height: 28px;
}

.root[size="small"]::after {
    line-height: 26px;
}

.root[size="small"] .popper {
    line-height: 1.6;
}
