@import '../u-select.vue/module.css';

.root {
    padding: 10px;
    border: none;
    height: $navbar-height;
    width: 100px;
    margin: 0 30px;
}

.root::before {
    line-height: $navbar-height;
}

.root::after {
    line-height: $navbar-height;
    top: 8px;
}

.text {
    font-size: 16px;
    line-height: $navbar-height;
}
