<div :class="$style.root" ref="root" :border="border">
    <div v-if="title" :class="$style.title" ref="title" :style="{ textAlign: titleAlignment }">
        <slot name="title">{{ title }}</slot>
    </div>
    <div :class="$style.table" v-for="tableMeta in tableMetaList" :key="tableMeta.position" :position="tableMeta.position"
        :style="{ width: tableMeta.position !== 'static' && (tableMeta.width + 'px') }"
        @scroll="onTableScroll" :shadow="(tableMeta.position === 'left' && !scrollXStart) || (tableMeta.position === 'right' && !scrollXEnd)">
        <div :class="$style.head" ref="head" :style="{ width: tableWidth + 'px' }">
            <u-table :class="$style['head-table']" v-bind="$attrs">
                <colgroup>
                    <col v-for="columnVM in visibleColumnVMs" :width="columnVM.computedWidth"></col>
                </colgroup>
                <thead><tr>
                    <th :class="$style['head-title']" v-for="(columnVM, index) in visibleColumnVMs">
                        <span v-if="columnVM.type === 'checkbox'">
                            <u-checkbox :value="allChecked" @check="checkAll($event.value)"></u-checkbox>
                        </span>
                        <f-render v-if="columnVM.$scopedSlots.title" :vnode="columnVM.$scopedSlots.title({ columnVM, index })"></f-render>
                        <f-render v-else-if="columnVM.$slots.title" :vnode="columnVM.$slots.title"></f-render>
                        <span v-else>{{ columnVM.title }}</span>
                        <span v-if="columnVM.sortable" :class="$style.sort"
                            :sorting="currentSorting && currentSorting.field === columnVM.field" :order="currentSorting && currentSorting.order"
                            @click="onClickSort(columnVM)"></span>
                        <span v-if="columnVM.filters" :class="$style.filter">
                            <u-table-view-filters :value="getFiltersValue(columnVM.field)" @select="onSelectFilters(columnVM.field, $event)">
                                <u-table-view-filter v-for="filter in columnVM.filters" :key="filter.value" :value="filter.value">{{ filter.text }}</u-table-view-filter>
                            </u-table-view-filters>
                        </span>
                    </th>
                </tr></thead>
            </u-table>
        </div>
        <div :class="$style.body" ref="body" :style="{ width: tableWidth + 'px', height: bodyHeight + 'px' }" @scroll="onBodyScroll">
            <u-table ref="bodyTable" :class="$style['body-table']" v-bind="$attrs">
                <colgroup>
                    <col v-for="columnVM in visibleColumnVMs" :width="columnVM.computedWidth"></col>
                </colgroup>
                <tbody>
                    <tr v-if="currentData === undefined || currentLoading">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <slot name="loading"><u-spinner></u-spinner> {{ loadingText }}</slot>
                        </td>
                    </tr>
                    <tr v-else-if="currentData === null || error">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <slot name="error">{{ errorText }}</slot>
                        </td>
                    </tr>
                    <tr v-else-if="!currentData.length">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <slot name="empty">{{ emptyText }}</slot>
                        </td>
                    </tr>
                    <template v-else>
                        <tr :class="$style.row" v-for="(item, index) in currentData" :key="item[field]"
                            :selected="selectable && selectedItem === item" @click="selectable && select(item)">
                            <td :class="$style.cell" v-for="columnVM in visibleColumnVMs" :ellipsis="columnVM.ellipsis" v-ellipsis-title>
                                <span v-if="columnVM.type === 'index'">{{ columnVM.startIndex + index }}</span>
                                <span v-else-if="columnVM.type === 'radio'">
                                    <u-radio :value="selectedItem === item" :disabled="item.disabled" @click.native="select(item)"></u-radio>
                                </span>
                                <span v-else-if="columnVM.type === 'checkbox'">
                                    <u-checkbox :value="item.checked" :label="item[field]" :disabled="item.disabled" @check="check(item, $event.value)"></u-checkbox>
                                </span>
                                <f-render v-else-if="columnVM.$scopedSlots.cell" :vnode="columnVM.$scopedSlots.cell({ item, value: item[columnVM.field], columnVM, index })"></f-render>
                                <f-render v-else-if="columnVM.$slots.cell" :vnode="columnVM.$slots.cell"></f-render>
                                <span v-else>{{ columnVM.currentFormatter.format(item[columnVM.field]) }}</span>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </u-table>
        </div>
    </div>
    <u-pagination :class="$style.pagination" v-if="pageable" :total="currentDataSource.totalPage" :page="currentDataSource.paging.number" @change="page($event.page)"></u-pagination>
    <div><slot></slot></div>
</div>
