{
    "extends": "vusion/all",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-alert": [0],
        "vue/html-indent": [0],
        "function-paren-newline": [0]
    }
}
