.root {}

.head {
    user-select: none;
    height: 32px;
    border-bottom: 1px solid $border-color-base;
}

.item {
    cursor: $cursor-pointer;
    display: inline-block;
    box-sizing: content-box;

    height: 30px;
    line-height: 30px;
    padding: 0 20px;

    border: 1px solid transparent;
    border-bottom: none;
    margin-bottom: -1px;
}

.item:hover {
    background: $background-color-base;
}

.item[selected] {
    background: white;
    border-color: $border-color-base;
    color: $brand-primary;
    border-bottom-color: transparent;
    padding-bottom: 1px;
}

.item[disabled] {
    background: none;
    color: $brand-disabled;
    cursor: $cursor-not-allowed;
}

.item[selected][disabled] {
    background: white;
}

.close:before {
    display: inline-block;
    content: '✕';
}

.close:hover {
    color: #666;
}

.body {
    margin-top: 10px;
}

.extra {
    float: right;
}
