.root {}

.head {
    text-align: center;
}

.item {
    display: inline-block;
    position: relative;
    width: 200px;
}

.item-body {
    display: inline-block;
    cursor: $cursor-pointer;
    position: relative;
    z-index: 2;
}

.root[readonly] .item-body {
    cursor: default;
}

.item[disabled] .item-body {
    color: $brand-disabled;
    cursor: $cursor-not-allowed;
}

.radio {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: $gray-lighter;
}

.title {
    display: block;
}

.item::before {
    display: block;
    content: '';
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: 50%;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: $gray-lighter;
}

.item[passed]::before {
    background-color: $brand-primary;
}

.item:first-child::before {
    display: none;
}

.item[passed] .radio {
    background-color: $brand-primary;
    color: white;
}

.body {
    margin-top: 10px;
}
