.root {}

.head {
    text-align: center;
}

.item {
    display: inline-block;
    position: relative;
    width: 200px;
    padding-top: 8px;
}

.item::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    left: 50%;
    top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: -5px;
    background: $background-color-base;
}

.item::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    right: 50%;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $background-color-base;
}

.item[pass]::after, .item[pass]::before {
    background-color: $brand-primary;
}

.item:first-child::after {
    display: none;
}

.body {
    margin-top: 10px;
}
