.root {
    margin-left: var(--root-node-margin-left);
}

.text {
    position: relative;
    padding: var(--root-node-padding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
