.root {}

.root[disabled] {
    cursor:  var(--cursor-not-allowed);
    color:  var(--brand-disabled);
}

.root::before {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    icon-font: url('../../i-icon.vue/assets/remove.svg');
}
