.root {
    /* @Private */
    user-select: none;
    overflow: auto;
    position: relative;

    /* @Public */
    background: white;
    border: 1px solid var(--border-color-base);
}

.root:focus {
    border-color: var(--brand-primary);
    outline: var(--focus-outline);
}

.status {
    color: var(--gray-dark);
    text-align: center;
}
