.root {
    /* Correct inability to style clickable `input` types in iOS. */
    -webkit-appearance: none;
    /* Remove margins in Chrome, Safari and Opera. */
    margin: 0;
    /* Remove borders for `button`. */
    border: none;
    /* Address `overflow` set to `hidden` in IE+. */
    overflow: visible;
    /* Correct `font` properties not being inherited for `button`. */
    font: inherit;
    /* Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE. */
    text-transform: none;
    /* Required for `a`. */
    text-decoration: none;
    /* Use pointer cursor at any time. */
    cursor: $cursor-pointer;
    /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 */
    background: none;
    /* Others */
    display: inline-block;
    text-align: center;
    padding: 0 12px;
    height: $height-base;
    line-height: calc($height-base - $border-width-base * 2);
    /* stylelint-disable declaration-block-no-duplicate-properties */
    background: white;
    color: $color-base;
    border: $border-width-base solid $border-color-base;
}

.root:hover {
    /* Required for `a` elements */
    text-decoration: none;
    color: $brand-primary;
    border-color: $brand-primary;
}

.root:focus {
    /* Remove default focus style */
    outline: $focus-outline;
    /* Required for `a` elements */
    text-decoration: none;
}

.root:active {
    background: $background-color-base;
}

.root[disabled] {
    /* @Private */
    cursor: $cursor-not-allowed;

    /* @Public */
    background: white;
    border-color: $brand-disabled;
    color: $brand-disabled;
}
