.root {
    display: inline-block;
    position: relative;
}

.input {
    margin: 0;
    padding: 0 8px;
    background: white;
    font: inherit;
    color: inherit;
    border: 1px solid $border-color-base;
    border-radius: 0;
    line-height: calc($height-base - 2px);
    width: $width-base;
    height: $height-base;
}

.input:focus {
    outline: $focus-outline;
    border-color: $brand-primary;
}

.root[color="error"] {
    border-color: $brand-error;
}

.input[disabled] {
    cursor: $cursor-not-allowed;
    background: $gray-lighter;
}
