.root {}

.root[layout="block"] [class^=u-form_item]:not(:last-child) {
    margin-bottom: 10px;
}

.root[layout="inline"] [class^=u-form_item] {
    display: inline-block;
}

.root[layout="inline"] [class^=u-form_item]:not(:last-child) {
    margin-right: 20px;
}
