.root {
    display: inline-block;
    position: relative;
}

.message {
    margin-left: 5px;
    padding: 0 5px;
    background:  var(--background-color-base);
}

.message[color="error"] {
    background:  var(--brand-error);
    color: white;
}

.root[placement="bottom"] .message {
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 0;
}

.root[display="block"] {
    display: block;
}
