.root {
    display: inline-block;
    position: relative;
}

.message {
    margin-left: var(--validator-message-margin-left);
    padding: var(--validator-message-padding);
    background: var(--validator-message-background);
}

.message[color="error"] {
    background: var(--validator-message-background-error);
    color: var(--validator-message-color-error);
}

.root[placement="bottom"] .message {
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 0;
}

.root[display="block"] {
    display: block;
}
