$item_size: 32px;

.root {
    user-select: none;
    cursor: default;
    padding: 0;
}

.item {
    display: inline-block;
    text-decoration: none;

    padding: 0 10px;
    min-width: $item_size;
    height: $item_size;
    line-height: $item_size;
    font-size: 12px;
    text-align: center;
    background: $background-color-base;
    color: $color-base;
    cursor: $cursor-pointer;
}

.item:hover {
    color: $brand-primary;
}

.item[selected] {
    background: $brand-primary;
    color: white;
}

.item[disabled] {
    cursor: $cursor-not-allowed;
    color: $brand-disabled;
}

.item[role="prev"]::before {
    content: '‹';
}

.item[role="next"]::before {
    content: '›';
}

.item[role="blank"] {
    background: none;
    color: $color-base;
    cursor: initial;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
}

.root[disabled] .item {
    color: $brand-disabled;
    cursor: $cursor-not-allowed;
}

.root[disabled] .item[role="blank"] {
    color: $brand-disabled;
    cursor: initial;
}

.root[disabled] .item[selected] {
    background: $gray-lighter;
}
