.root {
    cursor:  var(--cursor-pointer);
    margin-left: 20px;
}

.item {
    position: relative;
}

.sub {}

.back {
    position: absolute;
    left: -10000px;
    right: -10000px;
    height: 100%;
}

.expander {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    margin-left: -20px;
}

.expander::before {
    content: '▸';
}

.expander[expanded]::before {
    content: '▾';
}

.text {
    position: relative;
    padding: 4px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item:hover .back {
    background:  var(--background-color-base);
}

.item:focus {
    outline:  var(--focus-outline);
}

.item:focus .back {
    background:  var(--background-color-base);
}

.item[readonly] {
    cursor: default;
}

.item[readonly] .back {
    background: none;
}

.item[selected] .back {
    background:  var(--brand-primary);
}

.item[selected] .text {
    color: white;
}

.item[selected] .expander {
    color: white;
}

.item[disabled] {
    /* @Private */
    cursor:  var(--cursor-not-allowed);
    color:  var(--brand-disabled);
}

.item[disabled] .back {
    background: none;
}

.item[selected][disabled] .back {
    background:  var(--brand-disabled-light);
}
