.root {
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: var(--cursor-pointer);
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    border: none;
    padding-left: 10px;
    padding-right: 30px;
    font-size: var(--font-size-large);
}

.root:not(:last-child) {
    margin-right: 30px;
}

.root::after {
    position: absolute;
    icon-font: url('../../i-icon.vue/assets/arrow-down.svg');
    font-size: var(--font-size-base);
    right: 10px;
    top: 0;
    line-height: var(--navbar-height);
}

.popper {
    background: white;
    font-size: var(--font-size-base);
    width: 100%;
    line-height: var(--line-height-base);
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    color: var(--brand-disabled);
}
