.root {
    position: absolute;
    line-height: 1.6;
    max-height: 180px;
    overflow: auto;
    background: white;
    border: 1px solid var(--border-color-base);
    z-index: var(--z-index-popper);
}
