.root {
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: $cursor-pointer;
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
    height: $navbar-height;
    line-height: $navbar-height;
}

.root + .root {
    margin-left: 30px;
}

.root:hover {
    color: $brand-primary;
}

.root[readonly] {
    cursor: default;
}

.root[selected] {
    color: $brand-primary;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    color: $brand-disabled;
}
