.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-modal;
    -webkit-overflow-scrolling: touch;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,0.6);
    padding: 30px 0;
}

.root::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.root:focus {
    outline: none;
}

.dialog {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background: white;
}

.dialog[size="small"] {
    width: 300px;
}

.dialog[size="large"] {
    width: 600px;
}

.dialog[size="auto"] {
    width: auto;
}

.head {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $gray-lightest;
}

.title {
    margin: 0;
    font-size: 14px;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $gray-light;
}

.close::before {
    content: '×';
    font-size: 24px;
    line-height: 0.8;
}

.close:hover {
    color: $gray-dark;
}

.body {
    padding: 15px;
}

.foot {
    text-align: center;
    padding: 20px 15px;
}

.root[static] {
    position: static;
    padding: $margin-base;
}
