

.root {}

.track {
    overflow: hidden;
    height: var(--linear-progress-height-base);
    line-height: var(--linear-progress-height-base);
    background: var(--background-color-base);
}

.trail {
    width: 0;
    height: 100%;
    float: left;
    background: var(--brand-primary);
    font-size: 12px;
    color: white;
    transition: width 0.6s ease;
}
