.root {
    /* @Private */
    user-select: none;
    overflow: auto;
    position: relative;

    /* @Public */
    background: white;
    border: 1px solid $border-color-base;
}

.root:focus {
    border-color: $brand-primary;
    outline: $focus-outline;
}

.status {
    color: $gray-dark;
    text-align: center;
}
