.root {
    user-select: none;
    height: var(--navbar-height);
    /* display: flex;
    justify-content: space-between; */
}

.left {
    float: left;
    margin-right: var(--navbar-margin-x);
}

.middle {
    margin: 0 var(--navbar-margin-x);
}

.root[alignment="center"] .middle {
    text-align: center;
}

.root[alignment="right"] .middle {
    text-align: right;
}

.right {
    float: right;
    margin-left: var(--navbar-margin-x);
}

.root[color="inverse"] {
    background-color: var(--brand-primary);
}

.root[color="inverse"] .item {
    color: var(--navbar-inverse-color);
}

.root[color="inverse"] .item:hover {
    color: var(--navbar-inverse-color);
}

.root[color="inverse"] .item[selected] {
    color: var(--navbar-inverse-color);
}
