.root {
    width: 100%;
    table-layout: fixed;
}

.root caption {
    font-size: var(--font-size-base);
    color: #6a6f75;
}

.root th {
    text-align: left;
    border-bottom: 1px solid var(--border-color-base);
}

.root th, .root td {
    padding: 6px 8px;
}

.root[line="both"] th, .root[line="both"] td {
    border: 1px solid var(--border-color-base);
}

.root[line="horizontal"] th, .root[line="horizontal"] td {
    border-top: 1px solid var(--border-color-base);
    border-bottom: 1px solid var(--border-color-base);
}

.root[line="vertical"] th, .root[line="vertical"] td {
    border-left: 1px solid var(--border-color-base);
    border-right: 1px solid var(--border-color-base);
}

.root[striped] > tbody > tr:nth-of-type(odd) {
    background: var(--background-color-light);
}

.root[hover] > tbody > tr:hover {
    background: var(--background-color-base);
}

.root > tbody > tr[color="light"] {
    background: var(--background-color-light);
}

.root > tbody > tr[color="normal"] {
    background: var(--background-color-base);
}

.root > tbody > tr[color="dark"] {
    background: var(--background-color-dark);
}

.root > tbody > tr[color="primary"] {
    background: var(--table-row-primary-background);
}

.root > tbody > tr[color="error"] {
    background: var(--table-row-error-background);
}
