<div :class="$style.root">
    <template v-if="drag">
        <div @dragenter="dragenter($event)" @dragover="dragover" @drop="drop">
            <template v-if="dragDefaulted">
                <div :class="$style.dragDefault" ></div>
            </template>
            <template v-else>
                <slot></slot>
            </template>
        </div>
    </template>
    <template v-else>
        <div @click="upload()">
            <slot></slot>
        </div>
        <form :class="$style.form" ref="form" method="POST" :action="url" :target="'iframe'+ tempId" :enctype="contentType">
            <!-- IE需要重置input[type=file] -->
            <input :class="$style.input" ref="file" v-if="!sending" type="file" :name="name" :multiple="multiple" @change="addFiles()"/>
            <input v-for="key in Object.keys(data)" type="hidden" :name="key" :value="data[key]"/>
        </form>
    </template>
    <iframe :class="$style.iframe" ref="iframe" :name="'iframe'+ tempId" @load="onLoad()"></iframe>

    <!-- 缩略图展示部分 -->
    <template v-if="isPreviewFile">
        <ul :class="$style.previewFile">
            <li :class="$style.previewItem" v-for="pfc in previewFileContent">
                <img :class="$style.previewImage" :src="pfc.src">
                <div :class="$style.previewContent" v-if="previewLoding">
                    <template v-if="loadingStyle === 'defaulted'">
                        <u-loading display="full">上传中</u-loading>
                    </template>
                    <template v-else-if="loadingStyle === 'circular-progress'">
                        <div style="background: #000;opacity: 0.8;border:1px solid #000;border-radius:3px;">
                            <u-circular-progress :percent="pfc.loading"></u-circular-progress>
                        </div>
                    </template>
                </div>
            </li>
        </ul>
    </template>
</div>
