<div :class="$style.root">
    <template v-if="drag">
        <div @dragenter="dragenter($event)" @dragover="dragover" @drop="drop">           
            <template v-if="dragDefaulted">
                <div :class="$style.dragDefault" ></div>
            </template>
            <template v-else>
                <slot name="dragStyle"></slot>
            </template>
        </div>
    </template>
    <template v-else>
        <div @click="upload()">
            <slot name="uploadStyle"></slot>
        </div>
        <form :class="$style.form" ref="form" method="POST" :action="url" :target="'iframe'+ tempId" :enctype="contentType">
            <!-- IE需要重置input[type=file] -->
            <input :class="$style.input" ref="file" v-if="!sending" type="file" :name="name" :multiple="multiple" @change="addFiles()"/>
            <input v-for="key in Object.keys(data)" type="hidden" :name="key" :value="data[key]"/>
        </form>
    </template>
    <iframe :class="$style.iframe" ref="iframe" :name="'iframe'+ tempId" @load="onLoad()"></iframe>

    <!-- 缩略图展示部分 -->
    <template v-if="isPreviewFile">
        <ul :class="$style.previewFile">
            <li :class="$style.previewItem" v-for="pfc in previewFileContent">
                <template v-if='pfc.src'>
                    <img :class="$style.previewImage" :src="pfc.src" :alt="pfc.alt">
                </template>
                <template v-else>
                    <div :class="$style.previewImage">{{pfc.name}}</div>
                </template>
                <div :class="$style.previewContent" v-if="previewLoding">
                    <slot name="loadingStyle"></slot>
                </div>
            </li>
        </ul>
    </template>
</div>
