.root {
    padding: 2px 6px;
    font-size: 12px;
    background: $background-color-base;
    border-radius: $border-radius-base;
}

.root[color="default"] { /* As default */ }

.root[color="primary"] {
    color: white;
    background: $brand-primary;
}
