.root {
    padding: var(--label-padding-y) var(--label-padding-x);
    font-size: var(--font-size-small);
    background: var(--background-color-base);
    border-radius: var(--border-radius-base);
}

.root[color="default"] { /* As default */ }

.root[color="primary"] {
    color: var(--label-primary-color);
    background: var(--label-primary-bg);
}
