<u-linear-layout gap="small">
    <span>共 {{ total }} 条</span>
    <u-select :value="limit" @select="selectLimit" :class="$style.select">
        <u-select-item v-for="item in limitList" :key="item" :value="item">
            {{ item }}
        </u-select-item>
    </u-select>
    <span :class="$style.unit">条/页</span>
    <u-pagination display="inline"
        :total="total" :page="page" :side="side" :around="around" :readonly="readonly" :disabled="disabled"
        @select="changePage">
    </u-pagination>
</u-linear-layout>
