<div :class="$style.root">
    <div :class="$style.item" :selected="selected"
        :readonly="rootVM.readonly"
        :disabled="disabled || rootVM.disabled"
        :tabindex="disabled || rootVM.readonly || rootVM.disabled ? -1 : 0"
        @click="select()"
        @keyup.enter="select()"
        @keyup.left="toggle(false)"
        @keyup.right="toggle(true)">
        <div :class="$style.back"></div>
        <div :class="$style.expander" v-if="data || nodeVMs.length"
            :expanded="currentExpanded"
            @click.stop="toggle()"></div>
        <div :class="$style.text">
            <u-checkbox v-if="rootVM.checkable" :value="currentChecked" @check="check($event.value)"></u-checkbox>
            <u-tree-view-text
                :data="data"
                :text="text"
                :value="value"
                :expanded="currentExpanded"
                :checked="currentChecked"
                :disabled="disabled"
                :node="node"
            ></u-tree-view-text>
        </div>
    </div>
    <div :class="$style.list" v-show="currentExpanded">
        <u-tree-view-node v-if="data"
            v-for="node in data"
            :text="node[rootVM.field]"
            :key="node.key"
            :value="node.value"
            :expanded.sync="node.expanded"
            :checked.sync="node.checked"
            :disabled="node.disabled"
            :data="node.children"
            :node="node"
        ></u-tree-view-node>
        <slot></slot>
    </div>
</div>
