.root {
    display: inline;
}

.root:not(:last-child)::after {
    content: '>';
    margin: 0 5px;
    vertical-align: 1px;
}

.link {
    color: $brand-primary;
}

.link:hover {
    text-decoration: underline;
}

.disabled {
    color: $brand-disabled;
    cursor: default;
}
