.root {
    user-select: none;
    cursor: default;
    padding: 0;
    vertical-align: 1px;
}

.item {
    display: inline-block;
    text-decoration: none;

    padding: 0 10px;
    min-width: var(--pagination-item-size);
    height: var(--pagination-item-size);
    line-height: var(--pagination-item-size);
    font-size: var(--font-size-small);
    text-align: center;
    background: var(--background-color-base);
    color: var(--color-base);
    cursor: var(--cursor-pointer);
}

.item:hover {
    color: var(--brand-primary);
}

.item[selected] {
    background: var(--brand-primary);
    color: white;
}

.item[disabled] {
    cursor: var(--cursor-not-allowed);
    color: var(--brand-disabled);
}

.item[role="prev"] {
    font-size: var(--font-size-large);
    padding: 0 4px;
    vertical-align: top;
}

.item[role="prev"]::before {
    icon-font: url('../i-icon.vue/assets/angle-left.svg');
}

.item[role="next"] {
    font-size: var(--font-size-large);
    padding: 0 4px;
    vertical-align: top;
}

.item[role="next"]::before {
    icon-font: url('../i-icon.vue/assets/angle-right.svg');
}

.item[role="blank"] {
    background: none;
    color: var(--color-base);
    cursor: initial;
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[disabled] .item {
    color: var(--brand-disabled);
    cursor: var(--cursor-not-allowed);
}

.root[disabled] .item[role="blank"] {
    color: var(--brand-disabled);
    cursor: initial;
}

.root[disabled] .item[selected] {
    background: var(--brand-disabled-light);
}

.root[display="inline"] {
    display: inline-block;
}
