.root {
    margin: 0;
    list-style: none;
}

.root[line] .item:not(:last-child) {
    border-bottom: 1px solid  var(--border-color-base);
}

.root[striped] .item:nth-of-type(odd) {
    background:  var(--background-color-light);
}

.root[hover] .item:hover {
    background:  var(--background-color-base);
}
