.root {}

.root[layout="block"] > .item:not(:last-child) {
    margin-bottom: 20px;
}

.root[layout="inline"] > .item {
    display: inline-block;
}

.root[layout="inline"] > .item:not(:last-child) {
    margin-right: 20px;
}
