.root {}

.root[layout="block"] > *:not(:last-child) {
    margin-bottom: 20px;
}

.root[layout="inline"] > * {
    display: inline-block;
}

.root[layout="inline"] > *:not(:last-child) {
    margin-right: 20px;
}
