@extend '../u-input.vue/module.css';

.root {
    width: 320px;
    height: 120px;
    min-width: $width-base;
    min-height: $height-base;
    padding: 4px 8px;
    line-height: inherit;
}

.input {
    resize: none;
}

.handle {
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    cursor: default;
}

.handle::before {
    content: '';
    display: block;
    height: 4px;
    width: 12px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    transform: rotate(-45deg) translate(-2px, 2px);
}
