.root {
    display: inline-block;
    position: relative;
}

.input {
    padding: 4px 8px;
    background: white;
    border: 1px solid $border-color-base;
    height: $height-base;
    width: 320px;
    height: 120px;
    border-radius: 0;
    cursor: inherit;
    resize: vertical;
}

.input:focus {
    outline: $focus-outline;
    border-color: $brand-primary;
}

.input[color="error"] {
    border-color: $brand-error;
}

.input[disabled] {
    cursor: $cursor-not-allowed;
    background: $gray-lighter;
}
