.root {
    display: block;
    position: absolute;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    transform: scale(0);
    cursor:  var(--cursor-pointer);
    pointer-events: none;
}

.root[color="light"] {
    background-color: rgba(255, 255, 255, 0.2);
}

.root[animated] {
    transition: transform 1s, background-color 1s;
    transform: scale(12);
    background-color: transparent;
}

.reference {
    position: relative !important;
    overflow: hidden !important;
}
