.root {
    cursor: $cursor-pointer;
    height: 34px;
    line-height: 34px;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root:hover {
    color: $brand-primary;
}

.root[readonly] {
    cursor: default;
}

.root[selected] {
    background-color: $brand-primary;
    color: white;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    background: none;
    color: $brand-disabled;
}

.root[selected][disabled] {
    background: $gray-lighter;
}
