.root {
    display: inline-block;
    width: $sidebar-width;
    height: $navbar-height;
    background: url('./assets/logo.svg') 20px center no-repeat;
}

.root[color="inverse"] {
    background: $brand-primary url('./assets/logo-inverse.svg') 20px center no-repeat;
}
