.root {
    display: inline-block;
    width: $sidebar-width;
    height: $navbar-height;
    background: url('./assets/logo.svg') 20px center no-repeat;
    vertical-align: top;
}

.sub {
    display: inline-block;
    white-space: nowrap;
    color: $color-base;
    line-height: 73px;
    margin-left: 145px;
    font-size: 20px;
}

.sub:empty {
    display: none;
}

.root[color="inverse"] {
    background: $brand-primary url('./assets/logo-inverse.svg') 20px center no-repeat;
}

.root[color="inverse"] .sub {
    color: white;
}
