.root {
    clear: both;
    margin-bottom: 20px;
}

.title {
    float: left;
    width: 80px;
    padding: 5px 0;
}

.title[required]:after {
    content: '*';
    color: $brand-error;
}

.field {
    position: relative;
    margin-left: 80px;
}

.message {
    margin-left: 5px;
    padding: 0 5px;
    background: $background-color-base;
}

.message[color="error"] {
    background: $brand-error;
    color: white;
}
