
.root {}

.root > h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 60px;
}

.root > h2 {
    font-size: 20px;
    padding: 6px 20px;
    margin: 40px -20px;
    color: #6a6f75;
    border-bottom: 3px solid #f0f1f5;
}

.root > h3 {
    font-size: 16px;
    margin: 40px 0 20px;
    padding-left: 0;
    color: $brand-primary;
}

.root > h4 {
    font-size: 14px;
    margin: 25px 0 10px;
    margin-left: -9px;
}

.root > h4::before {
    content: '';
    margin-right: 6px;
    display: inline-block;
    height: 5px;
    width: 5px;
    vertical-align: 1px;
    background: $brand-primary;
    border-radius: 100%;
}

.root > h5 {
    font-size: 12px;
    margin: 0.3em 0;
}

.root img {
    max-width: 100%;
}

.root > table {
    margin: 0 auto;
    width: 100%;
}

.root > table:hover {
    box-shadow: 0 2px 10px rgba(90, 95, 100, 0.12);
}

.root > table th {
    color: #a7afbb;
}

.root > table th, .root > table td {
    border: 1px solid $border-color-base;
    padding: 4px 8px;
    font-size: 13px;
}

.root > table img {
    max-width: none;
}
