.root {}

.label {
    display: inline-block;
    padding-right: 5px;
}

.label[required]::after {
    content: '*';
    color: var(--brand-error);
}

.field {
    display: inline-block;
    position: relative;
}

.message {
    margin-left: 5px;
    padding: 0 5px;
    background: var(--background-color-base);
}

.message[color="error"] {
    background: var(--brand-error);
    color: white;
}

.root[placement="bottom"] .message {
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 0;
}

.root[label-size$="normal"] > .label { width: 80px; }
.root[label-size$="normal"] > .field { max-width: calc(100% - 80px); }

.root[field-size="full"] > .field {
    width: 100%;
}

.root[layout="block"] > .field {
    vertical-align: top;
}

.root[layout="none"] {
    display: inline-block;
}
.root[layout="none"] > .label {
    display: none;
}
.root[layout="none"] > .field {
    max-width: none;
}
