@extend;

.root {
    border: none;
    height: $navbar-height;
    line-height: $navbar-height;
    padding-left: 10px;
    padding-right: 30px;
    width: 90px;
    vertical-align: top;
}

.root:not(:last-child) {
    margin-right: 30px;
}

.root::before {
    font-size: 16px;
    line-height: $navbar-height;
}

.root::after {
    line-height: $navbar-height;
    height: auto;
}

.placeholder {
    font-size: 16px;
}

.text {
    font-size: 16px;
    line-height: $navbar-height;
}
