.root {}

.button {
    user-select: none;
    position: absolute;
    right: 1px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    cursor: var(--cursor-pointer);
    background: var(--background-color-base);
}

.button:hover {
    background: var(--background-color-dark);
}

.button:focus {
    outline: var(--focus-outline);
}

.button:active {
    background: var(--background-color-dark);
}

.button[role="up"] {
    top: 1px;
}

.button[role="up"]::before {
    icon-font: url('../i-icon.vue/assets/arrow-up.svg');
}

.button[role="down"] {
    bottom: 1px;
}

.button[role="down"]::before {
    icon-font: url('../i-icon.vue/assets/arrow-down.svg');
}

.button[disabled] {
    background: var(--background-color-base);
    color: var(--brand-disabled);
    cursor: var(--cursor-not-allowed);
}

.root[readonly] .button {
    background: var(--background-color-base);
    cursor: default;
}

.root[disabled] .button {
    background: var(--background-color-base);
    color: var(--brand-disabled);
    cursor: var(--cursor-not-allowed);
}
