.root {
    position: relative;
}

.head {
    font-weight: bold;
    color: #bac4d4;
    padding-left: 20px;
    line-height: 40px;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expander {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 26px;
    height: 26px;
    line-height: 40px;
    text-align: center;
}

.expander::before {
    content: '▸';
}

.expander[expanded]::before {
    content: '▾';
}

.root[disabled] .expander {
    color: $brand-disabled;
}
