.root {}

.root[name="arrow-up"]::before {
    icon-font: url('./assets/arrow-up.svg');
}

.root[name="arrow-down"]::before {
    icon-font: url('./assets/arrow-down.svg');
}

.root[name="arrow-left"]::before {
    icon-font: url('./assets/arrow-left.svg');
}

.root[name="arrow-right"]::before {
    icon-font: url('./assets/arrow-right.svg');
}

.root[name="close"]::before {
    icon-font: url('./assets/close.svg');
}

.root[name="close-solid"]::before {
    icon-font: url('./assets/close-solid.svg');
}

.root[name="github"]::before {
    icon-font: url('./assets/github.svg');
}
