.root {
    user-select: none;
    cursor:  var(--cursor-pointer);
}

.root:focus {
    outline:  var(--focus-outline);
}

.root[disabled] {
    cursor:  var(--cursor-not-allowed);
    color:  var(--brand-disabled);
}

.box {
    --box-size: 18px;
    --box-size: 18px;
    display: inline-block;
    width:  var(--box-size);
    height:  var(--box-size);
    line-height: calc( var(--box-size) - 2px);
    background: white;
    border: 1px solid  var(--border-color-base);
    margin-right: 5px;
    text-align: center;
}

.box[status="false"]::before {
    icon-font: url('../i-icon.vue/assets/check.svg');
    color: transparent;
    vertical-align: -2px;
    font-size: 13px;
}

.box[status="true"]::before {
    icon-font: url('../i-icon.vue/assets/check.svg');
    color:  var(--brand-primary);
    vertical-align: -2px;
    font-size: 13px;
}

.box[status="null"]::before {
    icon-font: url('../i-icon.vue/assets/square.svg');
    vertical-align: -2px;
    color:  var(--brand-primary);
}

.box[disabled] {
    background:  var(--background-color-base);
}
