.root[class] {
    padding: 0 12px;
    padding-right: 26px;
}

.root::after {
    position: absolute;
    content: '▾';
    right: 10px;
    top: 0;
    line-height: 28px;
}

.root[disabled] {
    cursor: not-allowed;
    background: $brand-disabled-light;
}

.popper {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    line-height: 1.6;
    max-height: 180px;
    overflow: auto;
    background: white;
    border: 1px solid $border-color-base;
    z-index: $z-index-popper;
}

.status {
    color: $gray-dark;
    text-align: center;
}
