.root {
    /* @Private */
    cursor: pointer;
    list-style: none;

    /* @Public */
    padding: 4px 12px;
}

.root:hover {
    background: $background-color-base;
}

.root[selected] {
    background: $brand-primary;
    color: white;
}

.root[disabled] {
    /* @Private */
    cursor: not-allowed;
    background: none;
    color: $gray-base;
}
