.root {}

.root[disabled] {
    cursor: $cursor-not-allowed;
    color: $brand-disabled;
}

.root::before {
    font-size: 22px;
    display: inline-block;
    vertical-align: -6px;
    icon-font: url('../../i-icon.vue/assets/add.svg');
}
