.root {}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    color: var(--brand-disabled);
}

.root::before {
    font-size: 22px;
    display: inline-block;
    vertical-align: -6px;
    icon-font: url('../../i-icon.vue/assets/add.svg');
}
