.root {
    vertical-align: 1px;
}

.body {
    position: relative;
    margin: var(--slider-body-margin);
    padding: var(--slider-body-padding);
}

.track {
    position: relative;
    overflow: hidden;
    height: var(--slider-track-height);
    background: var(--slider-track-background);
}

.trail {
    position: absolute;
    height: 100%;
    background: var(--slider-trail-background);
}

.bound {
    position: absolute;
    background: var(--slider-bound-background);
    height: 100%;
}

.bound[role="start"] {
    left: 0;
}

.bound[role="end"] {
    right: 0;
}

.handle {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: calc(var(--slider-handle-size) / -2);
    width: var(--slider-handle-size);
    height: var(--slider-handle-size);
    background: var(--slider-handle-background);
    border: var(--slider-handle-border);
    border-radius: var(--slider-handle-size);
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[disabled] .trail {
    background: var(--slider-trail-background-disabled);
}
