$box-size: 18px;

.root {
    user-select: none;
    cursor: pointer;
}

.root:focus {
    outline: $focus-outline;
}

.root[disabled] {
    cursor: not-allowed;
}

.box {
    display: inline-block;
    width: $box-size;
    height: $box-size;
    line-height: calc($box-size - 2px);
    background: white;
    border: 1px solid $border-color-base;
    margin-right: 5px;
    text-align: center;
}

.box[status="false"]:before {
    content: '✓';
    color: transparent;
}

.box[status="true"]:before {
    content: '✓';
    color: $brand-primary;
}

.box[status="null"]:before {
    content: '-';
    color: $brand-primary;
}

.box[disabled] {
    background: $background-color-base;
}
