.listView[class] {
    display: inline-block;
    width:  var(--width-base);
    height: 182px;
}

.buttons {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    margin-top: 54px;
}

.button {
    display: block;
    text-align: center;
    width:  var(--height-base);
    height:  var(--height-base);
    line-height: calc( var(--height-base) -  var(--border-width-base) * 2);
    background: white;
    color:  var(--color-base);
    border:  var(--border-width-base) solid  var(--border-color-base);
}

.button:not(:last-child) {
    margin-bottom: 10px;
}

.button:hover {
    /* Required for `a` elements */
    text-decoration: none;
    color:  var(--brand-primary);
    border-color:  var(--brand-primary);
}

.button:focus {
    /* Remove default focus style */
    outline:  var(--focus-outline);
    /* Required for `a` elements */
    text-decoration: none;
}

.button:active {
    background:  var(--background-color-base);
}

.button[disabled] {
    /* @Private */
    cursor:  var(--cursor-not-allowed);

    /* @Public */
    background: white;
    border-color:  var(--brand-disabled);
    color:  var(--brand-disabled);
}

.button[role="reverse"]::before {
    content: '❮';
}

.button[role="forward"]::after {
    content: '❯';
}
