.root {
    position: relative;
}

.head {
    font-weight: var(--font-weight-bold);
    color: var(--sidebar-group-head-color);
    padding-left: var(--sidebar-group-head-padding-left);
    line-height: var(--sidebar-group-head-line-height);
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expander {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: var(--sidebar-expander-size);
    height: var(--sidebar-expander-size);
    line-height: var(--sidebar-group-head-line-height);
    text-align: center;
}

.expander::before {
    content: '▸';
}

.expander[expanded]::before {
    content: '▾';
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[disabled] .expander {
    color: var(--sidebar-disabled-expander-color);
}
