.root {}

.root[disabled] {
    cursor: not-allowed;
    color: $brand-disabled;
}

.root::before {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    icon-font: url('../assets/edit.svg');
}
