.root {
    display: inline-block;
    background: #c1c7d0 url('./assets/avatar.svg');
    background-size: 100%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.root > img {
    max-width: 100%;
}

.root[shape="circle"] { /* As default */ }

.root[shape="square"] {
    border-radius: 0;
}

.root[size="mini"] {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
}

.root[size="small"] {
    width: 32px;
    height: 32px;
}

.root[size="normal"] { /* As default */ }

.root[size="large"] {
    width: 64px;
    height: 64px;
}

.root[size="huge"] {
    width: 108px;
    height: 108px;
}
