.root {
    display: inline-block;
    background: #c1c7d0 url('./assets/avatar.svg');
    background-size: 100%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    margin-right: 2px;
}

.root::before {
    content: 'b';
    visibility: hidden;
}

.root[shape="square"] {
    border-radius: 0;
}

.root[size="mini"] {
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.root[size="small"] {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.root[size="large"] {
    width: 64px;
    height: 64px;
    line-height: 64px;
}

.root[size="huge"] {
    width: 108px;
    height: 108px;
    line-height: 108px;
}
