.root {
    display: inline-block;
    width: var(--logo-width);
    height: var(--logo-height);
    background: url('./assets/logo.svg') 20px center no-repeat;
    vertical-align: top;
}

.sub {
    display: inline-block;
    white-space: nowrap;
    color: var(--color-base);
    line-height: var(--logo-height);
    margin-left: 145px;
    font-size: 20px;
}

.sub:empty {
    display: none;
}

.root[color="inverse"] {
    background: var(--brand-primary) url('./assets/logo-inverse.svg') 20px center no-repeat;
}

.root[color="inverse"] .sub {
    color: var(--background-color-default);
}
