.root {
    --height: 22px;
    --height: 22px;
    display: inline-block;
    position: relative;
    line-height:  var(--height);
    height:  var(--height);
    vertical-align: middle;
    user-select: none;
    cursor:  var(--cursor-pointer);
    width: 44px;
    border-radius: 100px;
    background:  var(--border-color-base);
    color: white;
}

.root:focus {
    outline:  var(--focus-outline);
}

.button {
    --button-size: 18px;
    --button-size: 18px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 100px;
    width:  var(--button-size);
    height:  var(--button-size);
    background: white;
}

.text {
    display: block;
    text-align: right;
    margin: 0 5px;
}

.root[checked] {
    background:  var(--brand-primary);
}

.root[checked] .button {
    left: calc(44px -  var(--button-size) - 2px);
}

.root[checked] .text {
    text-align: left;
}

.root[width="wide"] {
    width: 54px;
}

.root[width="wide"][checked] .button {
    left: calc(54px -  var(--button-size) - 2px);
}

.root[disabled] {
    cursor:  var(--cursor-not-allowed);
    background:  var(--background-color-base);
}
