.root {
    display: inline-block;
    position: relative;
    line-height: var(--switch-height);
    height: var(--switch-height);
    vertical-align: middle;
    user-select: none;
    cursor: var(--cursor-pointer);
    width: 44px;
    border-radius: 100px;
    background: var(--border-color-base);
    color: white;
    transition: background-color 0.3s;
}

.root:focus {
    outline: var(--focus-outline);
}

.button {
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 100px;
    width: var(--switch-button-size);
    height: var(--switch-button-size);
    background: white;
    transition: all 0.3s;
}

.text {
    display: block;
    text-align: right;
    margin: 0 5px;
}

.root[checked] {
    background: var(--brand-primary);
}

.root[checked] .button {
    left: calc(44px - var(--switch-button-size) - 2px);
}

.root[checked] .text {
    text-align: left;
}

.root[width="wide"] {
    width: 54px;
}

.root[width="wide"][checked] .button {
    left: calc(54px - var(--switch-button-size) - 2px);
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    background: var(--background-color-base);
}
