.root {}

.body {
    position: relative;
    margin: 0 10px;
    padding: 6px 0;
}

.track {
    overflow: hidden;
    height: 8px;
    background: $background-color-base;
}

.trail {
    float: left;
    height: 100%;
    background: $brand-primary;
}

.handle {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
}

.root[disabled] .trail {
    background: $brand-disabled;
}
