/* Brand Colors */
$brand-primary: #4b8;
$brand-error: #f55;
$brand-disabled: #ccc;

/* Gray Colors */
$gray-darkest: #333;
$gray-darker: #666;
$gray-dark: #999;
$gray-base: #aaa;
$gray-light: #ccc;
$gray-lighter: #ddd;
$gray-lightest: #eee;

/* Component Base Colors */
$background-color-base: #eee;
$color-base: #345;
$border-color-base: #ccc;

/* Component Base Dimensions */
$border-width-base: 1px;
$height-base: 32px;

/* Component Action Hints */
$cursor-pointer: pointer;
$cursor-not-allowed: not-allowed;
$focus-outline: none;

/* Base Margins */
$margin-bottom-base: 15px;
$margin-right-base: 5px;
