.root {}

.root[display="inline"] { /* As default */ }

.root[display="block"] {
    display: block;
}

.root[size="small"] {
    font-size: 12px;
}

.root[size="normal"] { /* As default */ }

.root[size="large"] {
    font-size: 18px;
}

.root[color="default"] { /* As default */ }

.root[color="primary"] {
    color: var(--brand-primary);
}

.root[color="error"] {
    color: var(--brand-error);
}

.root[color="disabled"] {
    color: var(--brand-disabled);
}

.root[wrap="ellipsis"] {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root[wrap="break"] {
    word-wrap: break-word;
    hyphens: auto;
}

.root[wrap="nowrap"] {
    white-space: nowrap;
}
