.root {}

.root[display="inline"] { /* As default */ }

.root[display="block"] {
    display: block;
}

.root[size="small"] {
    font-size: var(--text-font-size-small);
}

.root[size="normal"] { /* As default */ }

.root[size="large"] {
    font-size: var(--text-font-size-large);
}

.root[color="default"] { /* As default */ }

.root[color="primary"] {
    color: var(--text-primary-color);
}

.root[color="error"] {
    color: var(--text-error-color);
}

.root[color="disabled"] {
    color: var(--text-disabled-color);
}

.root[wrap="ellipsis"] {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root[wrap="break"] {
    word-wrap: break-word;
    hyphens: auto;
}

.root[wrap="nowrap"] {
    white-space: nowrap;
}
