.root {}

.root[disabled] {
    cursor: not-allowed;
    color: $brand-disabled;
}

.root::before {
    font-size: 22px;
    display: inline-block;
    vertical-align: -6px;
    icon-font: url('../assets/add.svg');
}
